  @media (min-width: 1200px) {
    .container {
      max-width: 1140px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .modal-xxl {
      max-width: 1400px !important;
    }
  }